#! /usr/bin/env bash

function rpmbuild-here() {
    rpmbuild --define "_topdir $(cd .. ; pwd)" $@
}

function rpmbuild-bootstrap() {
    mkdir -p BUILD BUILDROOT SOURCE SPECS SRPMS
}

function i() {
    HOSTS=`cat $HOME/.hosts | sort`
    SSH="ssh -A -o ConnectTimeout=3 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"

    select line in $HOSTS ; do
        IFS='|' read -r host user ip port <<< "$line"
        echo "$SSH -p $port $user@$ip"
        $SSH -p $port "$user@$ip"
    done
}

function tunoff() {
    sudo kextunload -b net.sf.tuntaposx.tun
}

function cscope-build {
    cscope -bqR
}

function cscope-go {
    cscope -dq
}

function chrome() {
    open "/Applications/Google Chrome.app/Contents/MacOS/Google Chrome"
}

function chrome-canary() {
    open "/Applications/Google Chrome Canary.app/Contents/MacOS/Google Chrome Canary"
}

function chromium() {
    open "/Applications/Chromium.app/Contents/MacOS/Chromium"
}

