<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>bark.png</string>
			<key>Title</key>
			<string>Send It</string>
			<key>Shell Script File</key>
			<string>bark.sh</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>detailyang@gmail.com</string>
			<key>Name</key>
			<string>DetailYang</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Send the selected text to bark.</string>
	<key>Extension Identifier</key>
	<string>com.detailyang.popclip.extension.bark</string>
	<key>Extension Image File</key>
	<string>bark.png</string>
	<key>Extension Name</key>
	<string>Bark</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>